<%- include('navbar') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="icon" type="image/x-icon" href="images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrQkTyH8DqfjJ6MTQY/ZD1J7aqXX42VgbiVB2Vf5Zp6s8FaM8YEXGyoja6IAC7rKJY1r+FbdXNco8hyZHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="background-container">
    <img src="images/StadionCelik2.jpg" alt="Background Image" class="background-image">
</div>
    <div class="wrapper">
        <div class="left">
          <h1>Dodaj vijesti</h1>
          <form action="/admin" method="POST">
            <div>
              <label for="title">Naslov</label>
              <input type="text" id="title" placeholder="Naslov vijesti" name="title" required>
            </div>
            <div>
                <label for="date">Datum</label>
                <input type="date" id="date"placeholder="Unesi datum" name="date" required>
            </div>
            <div>
              <label for="content">Sadrzaj</label>
              <textarea id="content" placeholder="Unesi sadrzaj vijesti" name="content" required></textarea>
            </div>
            <div>
              <label for="imageUrl">Slika</label>
              <input type="text" id="imageUrl" placeholder="Unesi link slike" name="imageUrl" required>
            </div>
            <button type="submit">Dodaj</button>
          </form>
        </div>
        <div class="right">
            <h1>Obrisi vijesti</h1>
            <ul>
              <% newsItems.forEach(news => { %>
                <li class="news-item">
                  
                    <div class="news-header">
                        <strong><%= news.title %></strong>
                        <small><%= news.content.split(" ").slice(0, 10).join(" ") %>...</small>
                    </div>
                    <div class="date_delete">
                    <small class="news-date"><%= new Date(news.date).toLocaleDateString() %></small>
                    <form action="/delete-news/<%= news._id %>" method="POST" class="delete-form">
                      <button type="submit" class="delete-button">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </form>
                    </div>
                
                </li>
              <% }) %>
            </ul>
          </div>
      </div>
</body>
</html>
    <%- include('footer') -%>
