<%- include('navbar') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/fanshop.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="icon" type="image/x-icon" href="images/logo.png">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrQkTyH8DqfjJ6MTQY/ZD1J7aqXX42VgbiVB2Vf5Zp6s8FaM8YEXGyoja6IAC7rKJY1r+FbdXNco8hyZHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="background-container">
    <img src="images/StadionCelik2.jpg" alt="Background Image" class="background-image">
</div>
    <div class="wrapper">
      
          <div class="left">
            <h1>Dodaj vijesti</h1>
            <form action="/admin" method="POST">
              <div>
                <label for="title">Naslov</label>
                <input type="text" id="title" placeholder="Naslov vijesti" name="title" required>
              </div>
              <div>
                  <label for="date">Datum</label>
                  <input type="date" id="date"placeholder="Unesi datum" name="date" required>
              </div>
              <div>
                <label for="content">Sadrzaj</label>
                <textarea id="content" placeholder="Unesi sadrzaj vijesti" name="content" required></textarea>
              </div>
              <div>
                <label for="imageUrl">Slika</label>
                <input type="text" id="imageUrl" placeholder="Unesi link slike" name="imageUrl" required>
              </div>
              <button class="add-button" type="submit">Dodaj</button>
            </form>
          </div>
          <div class="right">
              <h1>Obrisi vijesti</h1>
              <ul>
                <% newsItems.forEach(news => { %>
                  <li class="news-item">
                    
                      <div class="news-header">
                          <strong><%= news.title %></strong>
                          <small><%= news.content.split(" ").slice(0, 10).join(" ") %>...</small>
                      </div>
                      <div class="date_delete">
                      <small class="news-date"><%= new Date(news.date).toLocaleDateString() %></small>
                      <form action="/delete-news/<%= news._id %>" method="POST" class="delete-form">
                        <button type="submit" class="delete-button">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </form>
                      </div>
                  
                  </li>
                <% }) %>
              </ul>
            </div>
        

        <div class="bottom-left">
          <h1>Dodaj proizvod u fan shop</h1>
          <form action="/admin/fanshop/add" method="POST">
            <div>
              <label for="name">Naziv proizvoda</label>
              <input type="text" id="name" placeholder="Unesi naziv proizvoda" name="name" required>
            </div>
            <div>
              <label for="category">Kategorija</label>
              <select id="category" name="category" required>
                <option value="none" >Odaberi kategoriju</option>
                <option value="Majica">Majica</option>
                <option value="Dresovi">Dresovi</option>
                <option value="Dukserice">Dukserice</option>
                <option value="Karte">Karte</option>
              </select>
            </div>
            <div>
              <label for="price">Cijena</label>
              <input type="number" id="price" placeholder="Cijena" name="price" required>
            </div>
            <div>
              <label for="imageUrl">URL slike</label>
              <input type="text" id="imageUrl" placeholder="URL slike" name="imageUrl" required>
            </div>
            <div>
              <label for="quantity">Količina</label>
              <input type="number" id="quantity" placeholder="Količina na stanju" name="quantity" required>
            </div>
            <button class="add-button" type="submit">Dodaj proizvod</button>
          </form>
        </div>
        <div class="bottom-right">
          <h1>Obriši proizvod iz fan shopa</h1>
          <ul>
            <% fanShopItems.forEach(item => { %>
              <li class="fan-shop-item">
                <div class="item-image">
                  <img style="width: 50px; height: 50px; cursor: pointer;" src="<%= item.imageUrl %>" alt="<%= item.name %>" onclick="openModal('<%= item.imageUrl %>')">
                </div>
                <div class="fan-shop-header">
                  <strong><%= item.name %></strong>
                  <small>Veličina: <%= item.size %> | Cijena: <%= item.price %></small>
                </div>
                <div class="fan-shop-delete">
                  <form action="/admin/fanshop/delete/<%= item._id %>" method="POST" class="delete-form">
                    <input class="delete-number" type="number" id="deleteQuantity" name="deleteQuantity" placeholder="Količina za brisanje / <%= item.quantity %>" min="1" max="<%= item.quantity %>" required>
                    <button type="submit" class="delete-button">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </form>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
        
    </div>
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img id="modalImg" class="modal-content" src="" alt="Popup Image">
    </div>
    

<%- include('footer') -%>

<script>
  var modal = document.getElementById("myModal");
  var modalImg = document.getElementById("modalImg");

  function openModal(imageUrl) {
    modal.style.display = "block";
    modalImg.src = imageUrl;
  }

  var span = document.getElementsByClassName("close")[0];

  span.onclick = function() {
    modal.style.display = "none";
  }
</script>
</body>
</html>
