<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
  <title><%= fanshopItem.name %> - NK Celik Fanshop</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/fanshopPurchase.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
  <%- include('navbar') -%>
  <div class="background-container">
    <img src="/images/StadionCelik2.jpg" alt="Background Image" class="background-image">
  </div>
  <div class="main-section">
    <div class="product-builder-wrapper">
      <div class="image-section">
        <div class="image-wrapper">
          <img src="<%= fanshopItem.imageUrl %>" alt="<%= fanshopItem.name %>">
        </div>
      </div>
      <div class="configuration-section">
        <h1 class="item-title"><%= fanshopItem.name %></h1>
        <p>Izaberi Veličinu</p>
        <div class="velicine">
          <button class="velicine-btn" id="sizeS">S</button>
          <button class="velicine-btn" id="sizeM">M</button>
          <button class="velicine-btn" id="sizeL">L</button>
          <button class="velicine-btn" id="sizeXL">XL</button>
          <button class="velicine-btn" id="sizeXXL">XXL</button>
        </div>        
        <div class="divider"></div>
        <div class="price-wrapper">
          <p class="price-title"><%= fanshopItem.price %> BAM</p>
        </div>
        <p>Količina</p>
        <div class="submit-wrapper">
          <div class="qty">
            <div class="qty-buttons">
              <button type="button" class="btn-dec" id="decreaseQty"> - </button>
              <span class="qty-value" id="quantity">1</span>
              <button type="button" class="btn-inc" id="increaseQty"> + </button>
            </div>
          </div>
          <button class="btn add-to-cart-btn">Dodaj u korpu</button>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') -%>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    // Get the initial quantity value
    var quantity = 1;

    // Function to increase quantity
    $('#increaseQty').click(function() {
    if (quantity < 4) { // Check if quantity is less than 4
      quantity++;
      $('#quantity').text(quantity);
    }
  });

    // Function to decrease quantity
    $('#decreaseQty').click(function() {
      if (quantity > 1) {
        quantity--;
        $('#quantity').text(quantity);
      }
    });
  });
  $(document).ready(function() {
  $('.velicine-btn').click(function() {
    // Remove selected class from all size buttons
    $('.velicine-btn').removeClass('selected-size');
    // Add selected class to the clicked size button
    $(this).addClass('selected-size');
  });
});

</script>
</html>
