<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>NK Celik</title>
  <!-- Uključite CSS fajlove -->
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/novosti.css">
  <link rel="stylesheet" href="/css/home.css">
  <!-- Uključite favicon -->
  <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
  <!-- Uključite navigaciju -->
  <%- include('navbar') -%>

  <section class="news-details">
    <!-- Prikaži sliku vesti -->
    <img src="<%= newsArticle.imageUrl %>" alt="<%= newsArticle.title %>">
    <!-- Prikaži naslov vesti -->
    <h2><%= newsArticle.title %></h2>
    <!-- Prikaži sadržaj vesti -->
    <p style="color: black;"><%= newsArticle.content %></p>
  </section>

  <!-- Uključite footer -->
  <%- include('footer') -%>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>
