<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>NK Celik</title>
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/profil.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="icon" type="image/x-icon" href="images/logo.png">
</head>
<body>
    <%- include('navbar') -%>
<div class="profile-container">
    <div class="profile-header">
        <img src="images/profileimage.jpg" alt="Profile Image">
        <h1><%= user.name %></h1>
        <p><%= user.email %></p>
    </div>
    
    <div class="tickets-section">
        <h2>Tvoje Karte</h2>
        <% purchasedItems.forEach(item => { %>
            <% if (item.productCategory === 'Karte') { %>
                <div class="ticket">
                    <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
                    <p class="ticket-name"><%= item.name %></p>
                    <p class="ticket-count">Količina: <%= item.count %></p>
                </div>
            <% } %>
        <% }) %>
    </div>
    
    <div class="fanshop-section">
        <h2>Tvoje Kupovine</h2>
        <% purchasedItems.forEach(item => { %>

            <% if (item.productCategory !== 'Karte') { %>
                <div class="ticket">
                    <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
                    <p class="ticket-name"><%= item.name %></p>
                    <p class="ticket-count">Količina: <%= item.count %></p>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>
<%- include('footer') -%>

</body>
</html>
